<div class="user-container">
  <div class="row">
    <div class="col-md-4">
      <h2>ユーザー情報</h2>
      <p>ユーザー名: <%= @user.nickname %></p>
      <p>メールアドレス: <%= @user.email %></p>
      <p>作品分析の投稿数: <%= @user.stories.count %></p>
    </div>
    <div class="col-md-8">
      <h2>投稿した作品分析</h2>

      <!-- 作品登録ボタン -->
      <div class="mb-3">
        <%= link_to '作品を登録する', new_story_path, class: 'btn btn-primary' %>
      </div>
      
      <% if @user.stories.present? %>
        <table class="table">
          <thead>
            <tr>
              <th>タイトル</th>
              <th>作品名</th>
              <th>投稿日</th>
              <th>編集</th>
              <th>削除</th>
            </tr>
          </thead>
          <tbody>
            <%# <% @user.stories.each do |story| %>
              <tr>
                <%# <><%= story.title %>
                <%# <><%= Genre.find(story.genre_id).name %>
                <%# <td><%= Medium.find(story.medium_id).name %>
                <%# <td><%= story.created_at.strftime("%Y/%m/%d") %>
                <%# <td><%= link_to '編集', edit_story_path(story) %>
                <%# <td><%= link_to '削除', story_path(story), method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
              </tr>
            <%# <% end %>
          </tbody>
        </table>
      <% else %>
        <p>まだ作品分析を投稿していません。</p>
      <% end %>
    </div>
  </div>
</div>